@use '../helpers/variables';

.left-col {
  img {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  li {
    padding: 8px 0;
    display: block;

    &:nth-child(3) span,
    &:nth-child(4) span {
      text-decoration-line: underline;
      cursor: pointer;
    }
  }
}

.portrait-container {
  position: relative;
  background-color: #5084d1eb;

  .my-name {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: whitesmoke;

    font: {
      size: 35px;
      weight: 550;
    }
  }
}

.info-container {
  @include border-bottom;
  padding-bottom: 15px;
}

.section {
  margin: 35px 0;

  & > div:first-child {
    margin-bottom: 10px;
  }

  .title {
    font: {
      size: larger;
      weight: bolder;
    }
  }

  .item-name {
    display: inline-block;
    margin: 15px 0;
  }

  %bar {
    border-radius: 16px;
  }

  .outside {
    @extend %bar;
    width: 100%;
    background-color: #e4e1e1;
    line-height: 20px;

    .language {
      height: 25px;
    }
  }

  .inside {
    @extend %bar;
    @include flex-center;
    background-color: variables.$primary-color;
    color: whitesmoke;

    &-javascript,
    &-japanese {
      width: 95%;
    }

    &-react {
      width: 85%;
    }

    &-typescript,
    &-sass {
      width: 75%;
    }

    &-nodejs {
      width: 70%;
    }

    &-chinese {
      width: 100%;
    }

    &-english {
      width: 80%;
    }
  }
}