@use '../helpers/variables';

.left-col {
  img {
    position:absolute;
    height: 100%;
    width: 100%;
  }
  span {
    color: #757575;
  }
  li {
    padding: 5px 0;
    display: block;
    svg {
      margin-right: 12px;
      color: variables.$primary-color;
    }
  }
}

.portrait-container {
  position: relative;
  background-color: #5084d1eb;
  .my-name {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: whitesmoke;
    font: {
      size: 35px;
      weight: 550;
    }
  }
}

.info-container {
  @include border-bottom;
  padding-bottom: 15px;
}

.container > div {
  margin: 20px 0 ;
}