@keyframes shimmer {
  0% {background-color: #ccc;}
  50% {background-color: #ddd;}
  100% {background-color: #ccc;}
}

.skeleton {
  margin: auto 7px;
  border-radius: 4px;
  display: inline-block;
  animation: shimmer 2s infinite;

  &.circle-sm {
    width: 13px;
    height: 13px;
    border-radius: 50%;
  }

  &.circle-lg {
    width: 22px;
    height: 22px;
    border-radius: 50%;
  }

  &.bar-sm {
    width: 40%;
    height: 10px;
  }

  &.bar-lg {
    width: 70%;
    height: 20px;
  }
}

.skeleton-container {
  padding: 7px 0;
}